/* #6aaa64
#c9b458
#787c7e */
body { 
    min-width: 250px;
    background-color: #121213;
    
}
.chars{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    max-width: 40px;
    min-width: 40px;
    border : 0px;
    border-radius: 1px;
    margin:0;
    background-color: #6aaa64;
    position: relative;
}
#keyboard{
    align-items: center;
}
.words{
    margin: 5px;
}
.keys{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    font-size: 15px;
    background-color: #818384;
    color: white;
    padding: 0px;
}
#current-word {
    background-position-x: 50%;
}

input{
    margin: 20px;
    margin-top: 30px;
    border-color: lightgray;
    border-radius: 3px;
}